@media (max-width:1441px) {
    header .leaf {
        width: 300px;
        height: 350px;
    }

    .images {
        overflow: hidden;
    }

    /* about page */
    .recommendation .images {
        overflow: unset;
    }

    .recommendation .aparagraph h2 {
        width: 34% !important;
    }

    .recommendation .aparagraph p {
        width: 45% !important;
    }

    /* menu page */
    .head-of-menu .header-content {
        width: 55% !important;
    }

    .second-menu .m-c {
        top: 1053px !important;
    }

    .third-menu .m-c {
        bottom: -232px !important;

    }

    .third-menu .photobase {
        top: 35px !important;
    }

}


@media (max-width:1024px) {
    .nav-icons {
        padding: 0 !important;
        margin: 0;
        margin: auto;
    }

    .navbar-toggler-icon {
        background-color: white;

    }

    .header .leaf2 {
        width: 220px;
        height: 251.43px;
        top: 805px;
    }

    .header .leaf {
        width: 250px;
        height: 293.05px;
        top: 734px;
    }
}

@media (min-width:991px) {
    .nav-icons {
        order: 1;
    }
}

@media (max-width:884px) {
    h1 {
        font-size: 60px !important;

    }

    h2 {
        font-size: 50px !important;
    }


    .about p,
    .about p span {
        font-size: 36px !important;
    }

    .about,
    .menus {
        margin-top: 50px !important;
        padding-top: 50px !important;
    }

    .header {
        background-position: bottom;
    }

    .header .leaf2 {
        width: 220px !important;
        height: 250px !important;
        top: 1090px !important;
    }

    .header .leaf {
        width: 250px !important;
        height: 293px !important;
        top: 1003px !important;
    }

    .about .about-image {
        display: flex;
        justify-content: center;
    }

    .about .about-text img {
        position: unset !important;
    }

    .menu-items {
        bottom: -163px !important;
    }

    .menu-items .menu-item-1 {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-bottom: 5px;
    }

    .menu-items .menu-item-2 {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .menu-items .menu-item-1 h3,
    .menu-items .menu-item-2 h3 {
        text-align: center;
    }
    .menu h2{
        font-size: 30px !   important;
    }

    .menus .divider .d {
        top: 30px !important;
        left: -76px !important;
    }

    .menus .divider .plate {
        top: -3px !important;
    }

    .reservation {
        background-size: cover !important;
        height: 700px;
    }

    .reservation h2.first {
        width: 75%;
    }

    .reservation p.first {
        width: 62%;

    }

    .reservation .text {
        padding-bottom: 0px !important;
        padding-top: 20% !important;
    }

    .basic-title {
        bottom: -154px !important;
    }

    .reservation .leaf {
        right: -24px !important;
        top: 503px !important;
        width: 24% !important;
        height: 43% !important;
        object-fit: cover;
    }

    .reservation .leafs {
        left: -77px !important;
        top: 495px !important;
        object-fit: cover;
    }

    .photos {
        top: 433px !important;
    }

    .photos .px-5 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .photos .image .first,
    .photos .image .last {
        height: 697px !important;
    }

    .home-footer {
        top: 452px !important;
    }

    footer .logo {
        width: 75% !important;
        text-align: none !important;
    }

    /* about page */
    header .about-header-content {
        position: relative;
        top: -11% !important;
    }

    .recommendation .leafs {
        top: -516px !important;
        width: 61% !important;
    }

    .recommendation .plate {
        top: 64% !important;
    }

    .recommendation .paragraph {
        top: -452px !important;
    }

    .recommendation .paragraph p {
        width: 60% !important;
    }

    .recommendation .recommend-d {
        top: -413px !important;
        width: 100% !important;
    }

    .recommendation .divider {
        top: -329px !important;
    }

    .res .res-about {
        top: -176px !important;
    }

    .res .divider .d {
        top: -312px !important;
    }

    .res .divider .basic-title {
        top: 100px !important;
    }

    .about-photos {
        top: -160px !important;
    }

    .about-footer {
        margin-bottom: 0px !important;
        top: -84px !important;
    }

    .about-footer .py-5 {
        padding-top: unset !important;
        padding-bottom: unset !important;
    }

    /* reservation page */
    .rese .leaf,
    .rese .plate {
        width: 0% !important;
    }

    .reservation-info .px-5 {
        padding-left: unset !important;
        padding-right: unset !important;
    }

    .reservation-info .b .pt-5 {
        display: block !important;
        padding-left: 2rem;
    }

    .reservation-info .t {
        width: 50% !important;
    }

    .reservation-info h2 {
        font-size: 24px !important;
        width: 100% !important;
        padding-left: unset !important;

    }

    .reservation-info h3 {
        font-size: 20px !important;
    }

    .reservation-info .py-4 {
        padding-top: unset !important;
        padding-bottom: unset !important;
        padding-left: 2rem;
    }

    .reservation-info .pe-4,
    .reservation-info .container .row {
        padding-left: 6px !important;
        padding-right: 2px !important;
    }

    .reservation-info .pe-5 {
        padding-right: 2px !important;
    }

    .reservation-info .pb-5 {
        padding-top: 3rem !important;
    }

    .about-reservation .about-text img {
        top: 495px !important;
        left: -3px !important;
    }

    /* contact page */
    .contact .aleaf,
    .contact .leaf {
        width: 0% !important;
    }

    .contact-info h2,
    .form h2 {
        font-size: 30px !important;
    }

    .form {
        margin-top: unset !important;
        margin-left: unset !important;
    }

    .form .container {
        padding-right: unset !important;
        padding-left: unset !important;
    }

    .form .col-md-4 {
        padding-right: unset !important;
    }

    .father .divider .basic-title.con {
        top: 185px !important;
    }

    .photos.photo-con {
        top: 283px !important;
    }

    footer .con-footer {
        bottom: -300px !important;
    }

    /* menu page */
    .head-of-menu .header-content {
        width: 84% !important;
    }
    .head-of-menu .menu-leaf {
        left: -21px !important;
    }
    .head-of-menu .menu-leaf2 {
        width: 64% !important;
    }
    .head-of-menu .l-desh {
        width: 25% !important;
        left: -40px !important;
    }
    .menu .photo{
        top: -370px !important;
    }
    .menu .h-divider {
        width: 39% !important;
    }
    .menu .br-desh {
        width: 26% !important;
    }
    .first-menu .photobase {
        top: -469px !important;
    }
    .first-menu .m-c {
        top: -50px !important;
        left: 4px !important;
    }
    .menu .w-90,.menu .w-80{
        width: 100% !important;
    }
    .first-menu .f, .third-menu .f {
        margin-left: 0px !important;
    }
    .menu .py-5 {
         padding-top: unset!important; 
         padding-bottom: unset!important; 
    }
    .menu .pb-4{
        padding-bottom: unset   !important;
    }
    .menu .pt-5,.menu .pt-1,.menu .mt-3{
        padding-top: unset  !important; 
    }
    .menu .m-c{
        max-width: 100% !important;
    }
    .first-menu .m-c {
        top: -50px !important;
        left: 0px !important;
    }
    .second-menu .photobase {
        top: -296px !important; 
       }
    .second-menu .m-c {
        top: 659px !important;
        right: 0px !important;
    }
    .third-menu .m-c {
        bottom: -24px !important;
        left: 0px !important;
    }
    .third-menu .photobase {
        top: -107px !important;
    }
    .menu h4{
        font-size: 19px !important;
    }
    .menu h4.price{
        font-size:18px !important ;
    }
    .menu p,.paragraph p{
        font-size: 18px !important;
        font-weight: 400;
    }
    .para-divider #leaf {
        bottom: -2336px !important;
    }
    .para-divider #plate{
        bottom: -2208px !important;
        width: 0px !important;
    }
    .paragraph h2, .paragraph h2 span{
        font-size: 36px !important;
        line-height: 50px !important;
    }
    .paragraph .container {
        top: -72px !important;
        width: 62% !important;
    }
    .paragraph p{
        margin-bottom: 50px;
        font-weight: 400;
    }

}



@media (max-width:834px) {
    .header .leaf2 {
        width: 220px !important;
        height: 250px;
        top: 806px !important;
    }

    .header .leaf {
        width: 250px !important;
        height: 293px !important;
        top: 744px !important;
    }

    .menus .w-90 {
        width: 100% !important;
    }

    .menus p.w-75 {
        width: 98% !important;
    }

    .menus .images .plate {
        top: 96px !important;
        width: 77% !important;
    }

    .basic-title {
        top: 175px !important;
    }


    .reservation {
        top: 40px !important;
    }

    .photos {
        top: 157px !important;
    }

    footer, .mb-5 .about-footer .a {
        top: 152px !important;
    }

    /* about page */
    .about-photos {
        top: -168px !important;
    }

    /* reservation page */
    .father .divider .basic-title.res {
        top: 475px !important;
    }

    .paragraph .container {
        width: 60% !important;
    }
    .menu .photo {
        top: -389px !important;
    }
    .first-menu .photobase {
        top: -538px !important;
    }
    .first-menu .m-c {
        top: -61px !important;
    }
    .second-menu .m-c {
        top: 589px !important;
    }
    .third-menu .m-c {
        bottom: 6px !important;
    }
    .menu p,.paragraph p{
        font-size: 19px !   important;

    }
    .para-divider #plate {
        bottom: -2154px !important;
    }
    .para-divider #leaf {
        bottom: -2230px !important;
    }
}

@media(max-width:820px){
    .para-divider #leaf {
        bottom: -2122px !important;
    }
    .para-divider #plate {
        bottom: -2046px !important;
    }
    .second-menu .m-c {
        top: 520px !important;
    }
    .third-menu .m-c {
        bottom: -41px !important;
    }
    .third-menu .photobase {
        top: -61px !important;
    }
}
@media(max-width:800px) {
    .con-footer {
        top: 230px !important;
    }
}

@media (max-width:768px) {

    /* about page */
    .recommendation .leafs {
        top: -484px !important;
    }

    .recommendation .plate {
        top: 63% !important;
        width: 32% !important;
        left: 35% !important;
    }

    /*reservation*/
    .reservation-info .pe-4,
    .reservation-info .container .row {
        padding-right: 14px !important;
    }

    .reservation-info .lt,
    .reservation-info .dt {
        padding-bottom: 14px;
    }
}

@media (max-width:576px) {

    h1,
    h2 {
        font-size: 45px !important;

    }

    h3 {
        font-size: 15px;
    }

    p {
        font-size: 16px;
    }

    .header .leaf2 {
        width: 140px !important;
        height: 160px;
        top: 657px !important;
    }

    .header .leaf {
        width: 170px !important;
        height: 199px !important;
        top: 621px !important;
    }

    .about .about-image {
        width: 90% !important;
    }

    .about .para {
        margin-left: 25px;
        margin-top: 35px;
    }

    .about .para .letter {
        font-size: 18.6px !important;
    }

    .about .para p {
        line-height: 45.5px;
        padding-top: 28px;
        padding-bottom: 28px;
    }

    .menus {
        margin-top: 0px !important;
    }

    .menus .paragraph {
        position: relative;
        top: 494px;
        z-index: 1;
    }

    .menus div .images {
        top: -328px;
    }

    .menus .plate {
        width: 60% !important;
        top: 134px !important;
        left: 99px !important;
    }

    .menus .divider .d {
        width: 59% !important;
        top: 65px !important;
    }

    .menus .divider .plate {
        width: 50% !important;
        left: -197px !important;
        top: 20px !important;
    }

    .title .h-25 {
        width: 0px !important;
    }

    .menu-item h4 {
        font-size: 16px;
    }

    .menu-item div .d-flex {
        display: block !important;
    }

    .menu-item .menu-item-1,
    .menu-item .menu-item-2 {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .reservation {
        top: 168px !important;
        padding-right: 0px !important;

    }

    .reservation .text {
        padding-right: 0px !important;
        padding-left: 37px;
    }

    .reservation .leaf {
        object-fit: contain;
        right: 3px !important;
        top: 557px !important;
    }

    .reservation .leafs {
        width: 0% !important;
    }

    .reservation .letter {
        margin-bottom: 0px;
    }

   .d .basic-title.index{
        top: 187px !important;
    }

    .photos {

        top: 229px !important;
    }

    .photos .row.px-5 {
        padding-left: 3rem ! important;
        padding-right: 3rem ! important;
    }

    .photos .image .first,
    .photos .image .last {
        height: 329px !important;
    }

    .photos .image .two {
        height: 219px !important;
    }

    .photos .image .four {
        height: 492px !important;
    }

    .photos .image {
        width: 328px !important;
    }

    footer,.mb-5.home-footer.index  {
        padding-left: 24px !important;
        padding-right: 24px !important;
        top: 247px !important;
    }

    footer .logo {
        width: 40% !important;
    }

    footer .fir,
    footer .sec {

        border-bottom: #CA9C5E 1px solid !important;
        border-right: none !important;

    }

    footer .footer-icons {
        justify-content: center !important;
    }

    footer p {
        text-align: center !important;
    }

    /*-- about page--*/
    header .about-leaf2 {

        width: 45% !important;
        top: 6% !important;
        right: 0px !important;
    }

    header .about-header-content {
        position: absolute !important;
        top: 33% !important;
    }

    .recommendation .leafs {
        top: 60% !important;
        position: absolute !important;
        left: 10% !important;
        width: 77% !important;
    }

    .recommendation .plate {
        left: 26% !important;
        top: 71% !important;
        width: 51% !important;
    }

    .recommendation .aparagraph {
        top: 138px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .recommendation .aparagraph h2 {
        width: 70% !important;
    }

    .recommendation .aparagraph p {
        width: 94% !important;
    }

    .recommendation .recommend-d {
        top: 169px !important;
    }

    .recommendation .divider img.d {
        top: 598px !important;
        left: 0px !important;
        width: 48% !important;

    }

    .recommendation .divider .leaf {
        right: 0px !important;
        top: 489px !important;
        z-index: 1 !important;
        width: 44% !important;
    }

    .res .divider .d {
        top: 0px !important;
    }

    .d .basic-title {
        top: 273px !important;
    }

    .res .reservation {
        top: 360px !important;
    }

    .res .divider .leafs {
        top: 240px !important;
    }
    .res .reservation .text {
        padding-right: 0px !important;
        /* padding-left: 37px; */
    }

        photos.about-photos {
            top: 328px !important;
        }
    

    .about-footer.mb-5{
        margin-bottom: 0px !important;
       
    }
    


    /* contact page */
    .contact-info h2 {
        font-size: 26px !important;
    }

    .contact-info .o-h {
        width: 50% !important;
    }

    .form .row {
        width: 90%;
        margin: auto;
    }

    .father .w-60 {
        width: 100% !important;
    }

    .father .w-55 {
        width: 88% !important;
        font-size: 16px;
    }

    .father .leafs.con {
        top: 66px !important;
    }

    .father .leafs.con .leaf {
        width: 24%;
    }

    .father .divider .basic-title.con {
        top: 178px !important;
    }

    .photos-con {
        top: 193px !important;
    }


    /* reservation page */
    .res-header {
        background-position: center !important;
    }

    .res-header .header-content span {
        letter-spacing: 1px;
    }

    .res-header .header-content p {
        padding-left: 40px;
        padding-right: 40px;

    }

    .reservation-info .px-5 {
        padding-left: 15px !important;
    }

    .reservation-info .t {
        width: 100% !important;
    }

    .about-reservation .about-text img {
        top: 423px !important;
        left: -3px !important;
        width: 61% !important;
    }

    .father .leafs {
        top: 352px !important;
    }

    .res-footer {
        top: 505px !important;
    }



    /* menu page   */
    .head-of-menu .menu-leaf {
        width: 40% !important;
    }
    .menu .first-menu .photobase, .menu .second-menu .photobase, .menu .third-menu .photobase, .menu .m-c{
        position: unset !important;
    }
    .head-of-menu .menu-leaf2 {
        top: 0px !important;
        right: -42% !important;
    }
    .head-of-menu .r-desh {
        top: 103px;
        position: absolute;
        right: -67px;
    }
.head-of-menu .l-desh,.menu .photo { 
    width: 0% !important;
}
header .demo{
    width: 0% !important;
}
.head-of-menu p{
    width: 100% !important;
}
.menu{
    position: relative !important;
    top: -94px !important;
}
.menu .m-c {
    padding-left: unset !important;
}
.menu .imags {
    width: 85%!important;
    margin-left: 28px !important;
    margin-bottom: 46px !important;
}
.menu .w-100{
    width: 86%!important;
    margin-left: 28px !important;
    margin-bottom: 46px !important;
}
.menu .second-menu #imag1{
order: 1;
}
.menu .second-menu #imag2{
order: 2;
}
.menu .second-menu #div1{
order: 3;
}
.first-menu .f, .third-menu .f ,.second-menu .s {
    width: 89%;
    margin: auto !important;
}
.paragraph  #plate,.para-divider  img#leaf{
    width: 0% !important;
}
.paragraph .container {
    width: 100% !important;
    top: -154px !important
    ;}
.res.menu-page .reservation {
    top: -233px !important;
}
 .reservation .text {
    padding-left: 0px !important;
}
 .reservation .w-75 {
    width: 81%!important;
}
.res .divider .basic-title {
    top: 322px !important;
}



.res.menu-page .divider .leafs {
    top: -296px !important;}

.res.menu-page .divider .basic-title {
    top: -181px !important;}

.photos.about-photos.menu-ph {
    top: -139px !important;}

    .menu .photo.hphoto  {
        height: 0% !important;
    }
}

@media(max-width:360px) {
    .header .leaf2 {
        width: 140px !important;
        height: 160px;
        top: 620px !important;
    }

    .header .leaf {
        width: 170px !important;
        height: 199px !important;
        top: 600px !important;
    }

    .res .divider .leafs {
        top: 208px !important;
    }

    .res .divider .x {
        width: 0% !important;
    }

    .res .divider .leaf {
        width: 29% !important;
    }

    .con-footer {
        top: 86px !important;
    }

    footer{
        margin-top: 50% !important;
    }


}